#home #home-logo {
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
  z-index: 999;
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 80px; }

#home #home-logo #logo img {
  cursor: pointer; }

#home #home-logo #logo h3 a {
  padding-left: 10px;
  color: #000; }

.fab {
  transition: 2s ease; }

.fa-facebook-square {
  color: #121097; }

.fa-instagram {
  color: #a3331a; }

.fa-twitter {
  color: #121097; }

.fa-youtube {
  color: #970c08; }

#home #logo {
  padding-top: 5px;
  height: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 300; }

#home #logo h3 {
  padding-top: 5px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 300;
  transition: 1s ease; }

#home #logo img {
  animation: moveInLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in; }

/*
#nav .navigation {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    position: fixed;
    background-color: #eee;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    z-index: 100000;
}*/
/*
#menu-btn {
    width: 30px;
    height: 30px;
    display: none;
}
#menu_close {
    display: none;
}

.bg-black {
    background: #333 !important;
}
.txt-white {
    background: #eee !important;
}


#nav .navigation ul {
    display: flex;
    align-items: center; 
}
#nav .navigation ul li {
    list-style: none;
    margin-left: 40px;
}
#nav .navigation ul li a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 16px;
    font-family: "lato";
    font-weight: 700;
    transition: 0.1s;
}
#nav .navigation ul li a .active,
#nav .navigation ul li a:hover { 
    color:#777;
    border-bottom: 2px solid rgba(0, 5, 54, 2.3);
}
#nav .navigation #logo {
    cursor: pointer;
        align-items: center;
        font-family: "lato";
        font-size: 35px;
        font-weight: 300;
        color: black; 
    
    animation: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
}*/
/*blog
.nav-blog {
    font-size: 30px;
    font-family: "lato";
    font-weight: 500;
    color: #fff;
}

#home-blog {
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(img/pic-5.jpg);
    background-position: center;
    height: 50vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}*/
/*---------media------------*/
@media (max-width: 600px) {
  #home .home-logo {
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    z-index: 999;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 80px; }
  /*
.navigation {
    align-items: center;
    width: 373px;
    padding: 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    position: fixed;
    background-color: #eee;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    z-index: 100000;
}

.bg-black {
    background: #333 !important;
}
.txt-white {
    background: #eee !important;
}

#nav .navigation ul {
    display: flex;
    align-items: center; 
}
#nav .navigation ul li {
    list-style: none;
    margin-left: 40px;
}
#nav .navigation ul li a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 10px;
    font-family: "lato";
    font-weight: 400;
    transition: 0.1s;
}
#nav .navigation ul li a .active,
#nav .navigation ul li a:hover { 
    color:#777;
    border-bottom: 2px solid rgba(0, 5, 54, 2.3);
}
#nav .navigation h3 {
    cursor: pointer;
        text-align: center;
        align-items: center;
        font-family: "lato";
        font-size: 25px;
        font-weight: 300;
        color: black; 
    
    animation: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
}

#menu-btn {
    display: initial;
    cursor: pointer;
}
#menu_close {
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
    cursor: pointer;
}

#nav .navigation ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    background: rgba(17, 20, 104, 0.45);
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(.5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

#nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
}
#nav .navigation ul li a {
    color: #fff;
}*/
  /*blog*/
  .nav-blog {
    font-size: 20px;
    font-family: "lato";
    font-weight: 500;
    color: #fff; }
  #home-blog {
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(img/pic-5.jpg);
    background-position: center;
    height: 50vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; } }

.body-music {
  background-color: #0f0f1b;
  font-family: arial;
  color: #fff;
  letter-spacing: 6px; }

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

.music-header {
  text-align: center; }

.music-header h1 {
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 0; }

.music-header p {
  line-height: 26px;
  font-weight: 400;
  padding: 0 130px; }

nav {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #eee; }

nav ul .left {
  float: left; }

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 25px; }

nav ul li:last-child {
  margin-right: 0; }

nav ul li a {
  text-decoration: none;
  color: #fff; }

.autoplay_btn label {
  display: flex;
  align-items: center; }

.autoplay_btn h5 {
  margin: 0;
  font-weight: 500; }

#main-blog {
  padding: 10px 40px;
  font-family: 'lato'; }

#courses .courses-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin: 10px; }

/*profeil*/
#experties .export-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px; }

.export-box {
  padding: 0 80px; }

.export-box .profile img {
  border-radius: 20%;
  height: 100px;
  width: 100px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

#home {
  background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(img/pic-5.jpg);
  background-position: center;
  height: 85vh;
  width: 100%;
  background-size: cover; }

.maen-home {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.maen-home a {
  opacity: 1;
  visibility: visible; }

#home .nav-h2 {
  font-family: arial;
  font-style: bold;
  letter-spacing: 1px;
  font-size: 45px;
  padding-bottom: 15px;
  margin-top: 225px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  backface-visibility: hidden; }

#home .nav-p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #fff;
  font-weight: 200;
  animation: moveInRight;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden; }

/*profiles*/
.exer-box {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); }

.exer-box img {
  width: 30%;
  height: 100%; }

/*blog*/
#main-text .blog-text {
  padding: 40px 100px; }

.blog-row {
  display: flex;
  margin-top: 40px; }

.col-1 {
  width: 50%;
  display: flex;
  font-size: 17px;
  font-family: arial;
  font-weight: 500;
  letter-spacing: 1px;
  height: 85%; }

.col-2 {
  width: 50%;
  padding-left: 100px; }

.col-2 img {
  width: 80%;
  height: 80%; }

.ty-of-music h3 {
  margin: 10px 0 10px 40px;
  font-size: 20px;
  font-family: arial;
  font-weight: 600; }

.ty-of-musi ul {
  display: flex;
  align-items: center; }

.ty-of-music ul li {
  list-style: none; }

.ty-of-music ul li a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 16px;
  font-family: "lato";
  font-weight: 700;
  transition: 0.1s; }

#rock h2 {
  margin: 15px 0 5px 40px;
  font-size: 25px;
  font-family: arial;
  font-weight: 600; }

#rock p {
  letter-spacing: 1px;
  font-family: 'lato';
  font-weight: 200; }

/*-------------Testimonial---------------*/
.testimonial .small-container .row {
  display: flex;
  flex-direction: row;
  padding: 30px 200px 50px 200px; }

.testimonial h1 {
  align-items: center;
  text-align: center;
  padding: 15px 0 10px 0; }

.testimonial .col-4 {
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px 30px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #eee; }

.col-4-1 {
  margin-left: 25px; }

.testimonial .col-4 img {
  width: 50%;
  border-radius: 50%;
  padding: 9px 0 15px 0; }

.testimonial .col-4:hover {
  transform: translateY(-10px); }

.fa .fa-quote-left {
  font-size: 34px;
  color: #ff523b; }

.col-4 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777; }

.testimonial .col-4 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px; }

/*--------media--------*/
@media (max-width: 600px) {
  #home {
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(img/pic-5.jpg);
    background-position: center;
    height: 80vh;
    width: 100%;
    background-size: cover; }
  .maen-home {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .maen-home a {
    opacity: 1;
    visibility: visible; }
  #home .nav-h2 {
    font-family: 'lato';
    font-style: bold;
    font-size: 35px;
    padding-bottom: 15px;
    margin-top: 225px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    backface-visibility: hidden; }
  #home .nav-p {
    font-family: arial;
    font-size: 15px;
    text-align: center;
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px;
    animation: moveInRight;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }
  .testimonial .small-container .row {
    display: block;
    padding: 10px 50px; }
  .testimonial .col-4 {
    text-align: center;
    border-radius: 5px;
    padding: 10px 5px 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
    background-color: #eee; }
  .col-4-1 {
    margin-top: 10px; }
  .testimonial .col-4 img {
    width: 50%;
    border-radius: 50%;
    padding: 9px 0 15px 0; } }

/*note*/
#note .main-note .step-1 h3 {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 500; }

#note .main-note h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial; }

#note .main-note p {
  padding: 5px 60px;
  font-family: 'lato';
  font-size: 17px;
  font-weight: 300; }

#note .main-note .open-string {
  font-size: 22px;
  font-weight: 500;
  font-family: 'lato';
  color: red; }

#note .main-note .remember {
  font-size: 17px;
  font-weight: 500;
  font-family: arial; }

#note .main-note .remember p {
  font-size: 20px;
  font-weight: 500;
  font-family: arial; }

#note .main-note .step-2 img {
  align-items: center; }

#note .main-note .step-2 p {
  font-size: 20px;
  font-weight: 500;
  font-family: arial; }

#note .main-note .step-3 p {
  font-size: 20px;
  font-weight: 500;
  font-family: arial; }

#note-2 {
  padding: 5px 10px;
  margin: 0 10px; }

#note .main-note {
  text-align: center;
  align-items: center; }

#note .main-note .step-1 {
  text-align: center;
  align-items: center; }

#note-2 .note-2 {
  text-align: center;
  align-items: center; }

#note-2 .note-2 img {
  width: 457px; }

#note-2 .note-2 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'lato'; }

#note-3 {
  padding: 5px 10px;
  margin: 0 10px; }

#note-3 .note-3 img {
  width: 457px; }

#note-3 .note-3 {
  font-size: 15px;
  font-weight: 400;
  font-family: 'lato'; }

#note-3 .note-3 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'lato';
  text-align: center;
  align-items: center; }

@media (max-width: 600px) {
  /*note*/
  #note {
    padding: 5px 10px;
    margin: 0 10px; }
  #note .main-note {
    text-align: center;
    align-items: center; }
  #note .main-note .step-1 {
    text-align: center;
    align-items: center; }
  #note .main-note {
    text-align: center;
    color: #333;
    align-items: center; }
  #note .main-note h3 {
    text-align: center; }
  #note .main-note p {
    padding: 5px 5px; }
  #note .main-note .open-string {
    font-size: 18px;
    font-weight: 500;
    font-family: 'lato';
    color: red; }
  #note .main-note .remember {
    font-size: 14px;
    font-weight: 300;
    font-family: arial; }
  #note .main-note .remember p {
    font-size: 18px;
    font-weight: 400;
    font-family: arial; }
  #note .main-note .step-2 img {
    width: 73px; }
  #note .main-note .step-2 p {
    font-size: 18px;
    font-weight: 400;
    font-family: arial; }
  #note .main-note .step-3 p {
    font-size: 18px;
    font-weight: 400;
    font-family: arial; } }

@media (max-width: 375px) {
  /*note*/
  #note {
    padding: 5px 10px;
    margin: 0 10px; }
  #note .main-note {
    text-align: center;
    align-items: center; }
  #note .main-note .step-1 {
    text-align: center;
    align-items: center; }
  #note .main-note {
    text-align: center;
    color: #333;
    align-items: center; }
  #note .main-note h3 {
    text-align: center; }
  #note .main-note p {
    padding: 5px 5px; }
  #note .main-note .open-string {
    font-size: 18px;
    font-weight: 500;
    font-family: 'lato';
    color: red; }
  #note .main-note .remember {
    font-size: 14px;
    font-weight: 300;
    font-family: arial; }
  #note .main-note .remember p {
    font-size: 18px;
    font-weight: 400;
    font-family: arial; }
  #note .main-note .step-2 img {
    width: 30px; }
  #note .main-note .step-2 p {
    font-size: 18px;
    font-weight: 400;
    font-family: arial; }
  #note .main-note .step-3 p {
    font-size: 18px;
    font-weight: 400;
    font-family: arial; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

#home .btn a {
  text-decoration: none;
  font-size: 00.9rem;
  padding: 13px 35px;
  background-color: #fff;
  border-radius: 5px; }

#home .btn {
  margin-top: 30px; }

#home a.blue {
  color: #fff;
  background-color: #000536;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  transition: 0.3s ease-in; }

#home a.blue:hover {
  color: #000536;
  background-color: #fff; }

#home a.yellow {
  color: #fff;
  background-color: #FDC938;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  transition: 0.3s ease-in; }

#home a.yellow:hover {
  color: #000536;
  background-color: #fff; }

#lean-btn {
  background-color: #eee;
  font-size: 10px;
  font-family: arial;
  font-weight: 300;
  color: #000536;
  padding: 5px;
  margin-left: 30px;
  transition: 1s ease; }

#lean-btn:hover {
  background-color: #000536;
  color: #eee; }

/*--note-dow-buttom--*/
.download-con p {
  font-family: arial;
  font-size: 16px;
  font-weight: 300;
  color: #464657; }

.note-download {
  outline: none;
  padding: 5px;
  color: #000536;
  background-color: #FDC938;
  border-radius: 10px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  transition: 0.32s ease-in; }

.note-download:hover {
  color: #FDC938;
  background-color: #000536; }

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center; }

.fa-guitar {
  padding: 10px;
  font-size: 40px; }

#features h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; }

#features p {
  font-family: arial;
  font-size: 16px;
  font-weight: 300;
  color: #464657; }

#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px; }

#features .fea-box {
  background-color: #F9F9FF;
  text-align: start; }

#features .fea-box h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2e2e3b;
  padding: 13px 0 7px 0; }

#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #464657;
  font-family: arial; }

#regitration {
  padding: 6vw 8vw 6vw 8vw;
  /* background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(img/pic-4.jpg);*/
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.regi-h1 {
  align-items: center;
  text-align: center;
  display: block;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  padding-top: 10px; }

#regitration .reginder {
  color: black;
  font-size: 15px;
  font-family: 'lato';
  font-weight: bold; }

#regitration .reginder h1 {
  color: black;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding-top: 0; }

#regitration .reginder p {
  width: 80%;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #000536;
  font-family: sans-serif;
  letter-spacing: 1px;
  padding-bottom: 10px; }

.form h3 {
  font-size: 16px;
  font-family: Arial;
  font-weight: 600; }

#regitration .form {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); }

#regitration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid #5428f1;
  outline: none; }

#regitration .form .input-chat {
  margin: 15px 0;
  padding: 35px 10px; }

#regitration .form .btn {
  margin-top: 20px; }

#regitration .form a.yellow {
  color: #fff;
  background-color: #FDC938;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  transition: 0.3s ease-in;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 11px 35px;
  background-color: #fff;
  background: #FDC938;
  font-weight: 600;
  border-radius: 5px; }

#regitration .form a.yellow:hover {
  color: #000536;
  background-color: #fff; }

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease; }

.reveal.active {
  transform: translateY(0px);
  opacity: 1; }

/*-----------media-----------*/
@media (max-width: 600px) {
  #regitration {
    padding: 6vw 8vw 6vw 8vw;
    /*background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)),
         url(img/pic-4.jpg);*/
    width: 375px;
    background-color: #eee;
    align-items: center;
    display: block;
    width: 100%; }
  .regi-h1 h1 {
    font-size: 20px;
    font-family: 'lato';
    font-weight: 500;
    padding-top: 10px; }
  #regitration .reginder {
    color: black;
    font-size: 15px;
    font-family: 'lato';
    font-weight: bold; }
  #regitration .reginder h1 {
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold; }
  #regitration .reginder p {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 300;
    color: #000536;
    font-family: sans-serif; }
  .form h3 {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600; }
  #regitration .form {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); }
  #regitration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid #5428f1;
    outline: none; }
  #regitration .form .input-chat {
    margin: 15px 0;
    padding: 35px 10px; }
  #regitration .form .btn {
    margin-top: 20px; }
  #regitration .form a.yellow {
    color: #fff;
    background-color: #FDC938;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    transition: 0.3s ease-in;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 11px 35px;
    background-color: #fff;
    background: #FDC938;
    font-weight: 600;
    border-radius: 5px; }
  #regitration .form a.yellow:hover {
    color: #000536;
    background-color: #fff; } }

@media (max-width: 375px) {
  #regitration {
    padding: 6vw 8vw 6vw 8vw;
    /*background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)),
         url(img/pic-4.jpg);*/
    width: 375px;
    background-color: #F9F9FF;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    align-items: center; }
  .regi-h1 h1 {
    font-size: 20px;
    font-family: 'lato';
    font-weight: 500; }
  #regitration .reginder {
    color: black;
    font-size: 15px;
    font-family: 'lato';
    font-weight: bold; }
  #regitration .reginder h1 {
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold; }
  #regitration .reginder p {
    display: block;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    color: #000536;
    font-family: sans-serif;
    padding-bottom: 10px; }
  .form h3 {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600; }
  #regitration .form {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); }
  #regitration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid #5428f1;
    outline: none; }
  #regitration .form .input-chat {
    margin: 15px 0;
    padding: 35px 10px; }
  #regitration .form .btn {
    margin-top: 20px; }
  #regitration .form a.yellow {
    color: #fff;
    background-color: #FDC938;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    transition: 0.3s ease-in;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 11px 35px;
    background-color: #fff;
    background: #FDC938;
    font-weight: 600;
    border-radius: 5px; }
  #regitration .form a.yellow:hover {
    color: #000536;
    background-color: #fff; } }

@media (max-width: 414px) {
  #regitration {
    padding: 6vw 8vw 6vw 8vw;
    /*background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)),
         url(img/pic-4.jpg);*/
    width: 100%;
    background-color: #F9F9FF;
    align-items: center; }
  .regi-h1 h1 {
    font-size: 20px;
    font-family: 'lato';
    font-weight: 600; }
  #regitration .reginder {
    color: black;
    font-size: 15px;
    font-family: 'lato';
    font-weight: bold; }
  #regitration .reginder h1 {
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold; }
  #regitration .reginder p {
    color: #000536;
    display: block;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    font-family: sans-serif;
    padding-bottom: 10px; }
  .form h3 {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600; }
  #regitration .form {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); }
  #regitration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid #5428f1;
    outline: none; }
  #regitration .form .input-chat {
    margin: 15px 0;
    padding: 35px 10px; }
  #regitration .form .btn {
    margin-top: 20px; }
  #regitration .form a.yellow {
    color: #fff;
    background-color: #FDC938;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    transition: 0.3s ease-in;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 11px 35px;
    background-color: #fff;
    background: #FDC938;
    font-weight: 600;
    border-radius: 5px; }
  #regitration .form a.yellow:hover {
    color: #000536;
    background-color: #fff; } }

#courses {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center; }

#courses h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px; }

.str {
  float: right;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: arial; }

.str:hover {
  color: #777; }

.download {
  background-color: #00b4d6;
  padding: 2px;
  color: #fff;
  border-radius: 20px; }

#courses .courses {
  text-align: start;
  /*  background-color: #f9f9ff;*/
  height: 100%;
  position: relative; }

#courses .courses img {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center; }

#courses .detais {
  padding: 15px 15px 0 15px; }

#courses .courses .cost {
  background-color: #151564;
  color: #fff;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  right: 50px;
  bottom: 50px; }

#banner {
  background-image: url("img/pic-3.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: top 70px center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: flex-start; }

#banner .banner-cont {
  color: #fff;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  padding-top: 30px;
  align-items: center;
  text-align: center; }

.banner-cont {
  margin: 0 150px; }

.banner-cont a {
  text-decoration: none;
  background-color: #FDC938;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  margin-top: 40px; }

.banner-cont a:hover {
  color: #000536;
  background-color: #fff; }

.banner-cont h4 {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500; }

.banner-cont h1 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300; }

/*----media------*/
footer {
  padding: 3vw;
  background-color: #202020;
  /*background-image: linear-gradient(rgba(40, 42, 53, 0.5), 
    rgba(45, 48, 88, 0.5)), url(pic-6.jpg);*/
  background-size: cover;
  background-position: top 70px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; }

footer .footer-col {
  padding-bottom: 3px;
  align-items: center;
  text-align: center; }

footer .footer-col p {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; }

footer h3 {
  color: #f1f9f5;
  padding-bottom: 20px; }

footer li {
  list-style: none;
  color: #141618;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: arial; }

footer li:hover {
  color: #f1f9f5; }

footer p {
  color: #eee; }

.footer-col p {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px; }

footer .subscribe {
  margin-top: 20px;
  align-items: center;
  text-align: center; }

footer input {
  width: 220px;
  padding: 15px 12px;
  background: #334F6C;
  border: none;
  outline: none;
  color: #fff; }

footer .subscribe {
  border-bottom: 3px solid #f1f9f5;
  padding-bottom: 10px; }

footer .subscribe a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background-color: #fff;
  font-weight: 600; }

footer .subscribe a.yellow {
  color: #2c2c2c;
  background-color: #FDC938;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  transition: 0.3s ease-in; }

footer .subscribe a.yellow:hover {
  color: #000536;
  background-color: #fff; }

footer .copyright {
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  color: #f1f9f5;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  text-align: center; }

footer .copyright a {
  padding: 10px;
  color: #f1f9f5;
  font-size: 25px; }

/*--------media-----*/
/*@media (max-width: 400px) {
    #nav {
            padding: 15px 10px;
    }
    .logoimg{
        padding-left: 10px;
        font-size: 10px;
        font-family: "lato";
        font-weight: 300;
        color: #fff;
    }
    #nav h2 {
        cursor: pointer;
        padding-left: 10px;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
    #nav .navigation ul li {
        list-style: none;
        margin-left: 12px;
    }
    #nav .navigation ul li a {
        text-decoration: none;
        color: rgb(21, 21, 100);
        font-size: 11px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 500;
        transition: 0.1s;
    }
   
    #home h2 {
        padding-top: 20px;
        color: #fff;
        font-size: 9px;
        letter-spacing: 1px;
    }
    #home p {
        width: 90%;
        height: 20%;
        color: #eee;
        font-size: 9px;
        line-height: 15px;
    }
    #courses .courses img {
        width: 100%;
        height: 80%;
        
    }
    #courses .detais {
        padding: 10px 10px 10 15px;
        font-size: 16px;
        letter-spacing: 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #courses .courses .cost {
        background-color: rgb(21, 21, 100);
        color: #fff;
        line-height: 50px;
        font-size: 10px;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 100%;
        position: absolute;
        right: 30px;
        bottom: 70px;
    }
    #regitration .reginder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    #regitration .reginder h1 {
        color: #fff; 
        font-size: 12px;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .reginder p {
        color: #fff; 
        font-size: 10px;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .reginder .time .date {
        text-align: center;
        padding: 13px 33px;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
        margin: 0 9px 10px 5px;
        border: 2px solid rgba(255, 255, 255,0.10);
        font-size: 9px;
        font-weight: 400;
    }
    #regitration .form {
        padding: 20px;
    }
    #regitration .form h3 {
        font-size: 12px;
        font-weight: 200;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .form input::placeholder {
        color: #413c3c;
        font-weight: 500;
        font-size: 10px;
    }
    #regitration .form input {
        margin: 10px 0;
        padding: 10px 5px;
        border: 1px solid rgb(84, 40, 241);
        outline: none;
    }
    #regitration .form a.yellow {
        color: #fff;
        background-color: #FDC938;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        transition: 0.3s ease-in;
        text-decoration: none;
        padding: 10px 12px;
        background-color: #fff;
        background: #FDC938;
        font-weight: 300;
        border-radius: 5px;
        
    }
    #menu-btn {
        width: 30px;
        height: 30px;
        display: initial;
    }
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        padding: 30px 0 20px 20px;
        color: #fff;
    }
    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background-color: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(225, 225, 225, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    nav .navigation ul .active {
        right: 0;
    }
    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
        
    }
    nav .navigation ul li a {
        color: #fff;
        font-size: 20px;
    }
   
}
@media (max-width: 530px) {
    nav {
            padding: 15px 20px;
        
    }
    nav h2 {
        cursor: pointer;
        padding-left: 10px;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
    nav .navigation ul li {
        list-style: none;
        margin-left: 12px;
    }
    nav .navigation ul li a {
        text-decoration: none;
        color: rgb(21, 21, 100);
        font-size: 11px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 500;
        transition: 0.1s;
    }
   
    #home h2 {
        padding-top: 20px;
        color: #fff;
        font-size: 9px;
        letter-spacing: 1px;
    }
    #home p {
        width: 90%;
        height: 20%;
        color: #eee;
        font-size: 9px;
        line-height: 15px;
    }
    #courses .courses img {
        width: 100%;
        height: 80%;
        
    }
    #courses .detais {
        padding: 10px 10px 10 15px;
        font-size: 16px;
        letter-spacing: 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #courses .courses .cost {
        background-color: rgb(21, 21, 100);
        color: #fff;
        line-height: 50px;
        font-size: 10px;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 100%;
        position: absolute;
        right: 30px;
        bottom: 70px;
    }
    #regitration .reginder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    #regitration .reginder h1 {
        color: #fff; 
        font-size: 12px;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .reginder p {
        color: #fff; 
        font-size: 10px;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .reginder .time .date {
        text-align: center;
        padding: 13px 33px;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
        margin: 0 9px 10px 5px;
        border: 2px solid rgba(255, 255, 255,0.10);
        font-size: 9px;
        font-weight: 400;
    }
    #regitration .form {
        padding: 20px;
    }
    #regitration .form h3 {
        font-size: 12px;
        font-weight: 200;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .form input::placeholder {
        color: #413c3c;
        font-weight: 500;
        font-size: 10px;
    }
    #regitration .form input {
        margin: 10px 0;
        padding: 10px 5px;
        border: 1px solid rgb(84, 40, 241);
        outline: none;
    }
    #regitration .form a.yellow {
        color: #fff;
        background-color: #FDC938;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        transition: 0.3s ease-in;
        text-decoration: none;
        padding: 10px 12px;
        background-color: #fff;
        background: #FDC938;
        font-weight: 300;
        border-radius: 5px;
        
    }
   
}
@media (max-width: 7300px) {
    
    #regitration .reginder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    #regitration .reginder h1 {
        color: #fff; 
        font-size: 12px;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .reginder p {
        color: #fff; 
        font-size: 10px;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .reginder .time .date {
        text-align: center;
        padding: 13px 33px;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 10px;
        margin: 0 9px 10px 5px;
        border: 2px solid rgba(255, 255, 255,0.10);
        font-size: 9px;
        font-weight: 400;
    }
    #regitration .form {
        padding: 20px;
    }
    #regitration .form h3 {
        font-size: 12px;
        font-weight: 200;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #regitration .form input::placeholder {
        color: #413c3c;
        font-weight: 500;
        font-size: 10px;
    }
    #regitration .form input {
        margin: 10px 0;
        padding: 10px 5px;
        border: 1px solid rgb(84, 40, 241);
        outline: none;
    }
    #regitration .form a.yellow {
        color: #fff;
        background-color: #FDC938;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        transition: 0.3s ease-in;
        text-decoration: none;
        padding: 10px 12px;
        background-color: #fff;
        background: #FDC938;
        font-weight: 300;
        border-radius: 5px;
        
    }
   
}*/
