nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
  position: fixed;
  width: 100%;
  background-color: #eee;
  z-index: 999;
  position: relative; }

nav .navigation ul {
  display: flex;
  align-items: center; }

nav .navigation ul li {
  list-style: none;
  margin-left: 40px; }

nav .navigation ul li a {
  text-decoration: none;
  color: #151564;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  transition: 0.1s; }

nav .navigation ul li a .active,
nav .navigation ul li a:hover {
  /*color: $background-buttom-color;*/
  border-bottom: 2px solid #000536; }

nav .nav-h2 {
  cursor: pointer;
  padding-left: 30px;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: black;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

#home {
  background-image: linear-gradient(rgba(40, 42, 53, 0.5), rgba(45, 48, 88, 0.5)), url(img/home.jpg);
  background-size: 100vh;
  background-position: cover; }

#home .nav-h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: bold;
  font-size: 40px;
  font-weight: 500;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  backface-visibility: hidden; }

#home .nav-p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-weight: 200;
  animation: moveInRight;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

#home a.blue {
  color: #fff;
  background-color: #000536;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  transition: 0.3s ease-in; }

#home a.blue:hover {
  color: #000536;
  background-color: #fff; }

#home a.yellow {
  color: #fff;
  background-color: #FDC938;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  transition: 0.3s ease-in; }

#home a.yellow:hover {
  color: #000536;
  background-color: #fff; }
