* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#home {
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(img/pic-5.jpg);
    background-position: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
    
}
.maen-home {
    display: flex;
   /* margin-top: 150px;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
} 
.maen-home a {
    opacity: 1;
    visibility: visible;
}
#home .nav-h2 {
    font-family: arial;
    font-style: bold;
    letter-spacing: 1px;
    font-size: 45px;
    padding-bottom: 15px;
    margin-top: 225px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    backface-visibility: hidden; 
}

    #home .nav-p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        text-align: center;
        color: #fff;
        font-weight: 200;
        animation: moveInRight;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
        backface-visibility: hidden; 
    }

    /*profiles*/
    .exer-box {
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }
    .exer-box img {
        width: 30%;
        height: 100%;
    }

   





    /*blog*/
    #main-text .blog-text{
        padding: 40px 100px;
    }
    .blog-row {
        display: flex;
        margin-top: 40px;
    }
    .col-1 {
        width: 50%;
        display: flex;
        font-size: 17px;
        font-family: arial;
        font-weight: 500;
        letter-spacing: 1px;
        height: 85%;
    }
    .col-2 {
       width: 50%;
       padding-left: 100px;
    }
    .col-2 img {
        width: 80%;
        height: 80%;
    }
    .ty-of-music h3 {
        margin: 10px 0 10px 40px ;
        font-size: 20px;
        font-family: arial;
        font-weight: 600;
    }
    .ty-of-musi ul {
        display: flex;
        align-items: center; 
        
    }
    .ty-of-music ul li {
        list-style: none;
    }
    .ty-of-music ul li a {
        text-decoration: none;
        list-style: none;
        color: black;
        font-size: 16px;
        font-family: "lato";
        font-weight: 700;
        transition: 0.1s;
    }
    #rock h2 {
        margin: 15px 0 5px 40px ;
        font-size: 25px;
        font-family: arial;
        font-weight: 600;
    }
    #rock p {
        letter-spacing: 1px;
        font-family: 'lato';
        font-weight: 200;
    }









    /*--------media--------*/

    @media (max-width: 600px) {
        #home {
            background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(img/pic-5.jpg);
            background-position: center;
            height: 90vh;
            width: 100%;
            background-size: cover;
        }

        #home .nav-h2 {
            font-family: 'lato';
            font-style: bold;
            font-size: 35px;
            padding-bottom: 15px;
            margin-top: 225px;
            letter-spacing: 1px;
            color: #fff;
            font-weight: 400;
            text-align: center;
            animation: moveInLeft;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-timing-function: ease-in;
            backface-visibility: hidden; 
        }
        
            #home .nav-p {
                font-family: arial;
                font-size: 15px;
                text-align: center;
                color: #fff;
                font-weight: 200;
                letter-spacing: 1px;
                animation: moveInRight;
                animation-duration: 1s;
                animation-delay: 1s;
                animation-timing-function: ease-out;
                backface-visibility: hidden; 
            }
            
        
    }
    