#home .btn a {
  text-decoration: none;
  font-size: 00.9rem;
  padding: 13px 35px;
  background-color: #fff;
  border-radius: 5px;
}
#home .btn {
  margin-top: 30px;
}
#home a.blue {
  color: #fff;
  background-color: #000536;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  transition: 0.3s ease-in; 
}

#home a.blue:hover {
  color: #000536;
  background-color: #fff; 
}

#home a.yellow {
  color: #fff;
  background-color: #FDC938;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  transition: 0.3s ease-in; 
}
#home a.yellow:hover {
  color: #000536;
  background-color: #fff; 
}
#lean-btn {
  background-color: #eee;
  font-size: 10px;
  font-family: arial;
  font-weight: 300;
  color: #000536;
  padding: 5px;
  margin-left: 30px;
  transition: 1s ease;
}

#lean-btn:hover {
  background-color: #000536;
  color: #eee;

}
