footer {
    padding: 3vw;
    background-image: linear-gradient(rgba(40, 42, 53, 0.5), 
    rgba(45, 48, 88, 0.5)), url(pic-6.jpg);
    background-size: cover;
    background-position: top 70px;
    
    align-items: center;
    text-align: center;
    flex-wrap: wrap; }
  
  footer .footer-col {
    padding-bottom: 3px; 
    align-items: center;
    text-align: center;
  }
  footer .footer-col p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    
  }

  
  footer h3 {
    color: #f1f9f5;
    padding-bottom: 20px; }
  
  footer li {
    list-style: none;
    color: #141618;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: arial; }
  
  footer li:hover {
    color: #f1f9f5; }
  
  footer p {
    color: #eee; }
  
  footer .subscribe {
    margin-top: 20px; 
    align-items: center;
    text-align: center;
  }
  
  footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff; }
  
  footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600; }
  
  footer .subscribe a.yellow {
    color: #2c2c2c;
    background-color: #FDC938;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    transition: 0.3s ease-in; }
  
  footer .subscribe a.yellow:hover {
    color: #000536;
    background-color: #fff; }
  
  footer .copyright {
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    color: #f1f9f5; 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #f1f9f5;
  }
  
    /*--------media-----*/
    